body {
    background-color: #d7dfed;
}

h1 {
    text-align: center;
    color: red;
}

#wrapper {
    margin: auto;
}

h2 {
    color: black;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
}

#loginForm {
    min-height: 500px;
    background-color: pink;
    margin-top: 50px;
    text-align: center;
}

#txtUser {
    margin: 5px;
    border: solid 1px grey;
    text-align: justify;
}